<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <a class="navbar-brand" href="#">Project name</a>
      </div>
</nav>

<div class="container">
<div class="jumbotron">
<form class="form-signin" action="/user/create" method="POST" id="signupform">
<h2 class="form-signin-heading"> Create an account</h2>

<% if(flash && flash.err) { %>
	<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
<	/ul>
<% } %>
<div class="control-group">
<input type="text" class="form-control" placeholder="your name" name="name">
</div>

<div class="control-group">
<input type="text" class="form-control" placeholder="username" name="uname">
</div>

<div class="control-group">
<input type="email" class="form-control" placeholder="email" name="email">
</div>	

<div class="control-group">
<input type="text" class="form-control" placeholder="password" name="password" id="password">
</div>

<div class="control-group">
<input type="text" class="form-control" placeholder="confirm password" name="confirmation">
</div>
<div class="jumbotron">
<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
<input type="hidden" name="_csrf" value="<% _csrf %>" />
</div>
</div>
</div>