<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
         
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div >
          <form class="navbar-form navbar-right" action="/" method="POST">
            
            
            <button type="submit" class="btn btn-success" >Sign Out</button>
            
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="jumbotron" >
<div class="container">
<h1><%- user.name %></h1>
<h3><%- user.uname %></h3>
<h3><%- user.email %></h3>
</div>
</div>