
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <a class="navbar-brand" href="#">Project name</a>
      </div>
</nav>
<body>

<div class="jumbotron">
	<div class="container">
      <form class="form-signin" action="login" method="POST">
        <h2 class="form-signin-heading">Please sign in</h2>
        <!-- - - - - - -FLASH - - - - - - - -  -->
        <% if(flash && flash.err) { %>
			<ul class="alert alert-success">
			<% Object.keys(flash.err).forEach(function(error) { %>
				<li><%- JSON.stringify(flash.err[error]) %></li>
			<% }) %>
			</ul>
		<% } %>
        <!-- - - - - - - - - - - - - - - - - -  -->
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name ="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required >
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="_csrf" value="<% _csrf %>" />
      </form>
	</div>
</div>

</body>